#conteudo{
    margin: 0px auto;
    background-color: rgb(175, 128, 219);
    width: 500px;
    padding: 5px;
    border-radius: 5px;
}
#valor{
    margin-left: 22px;
    width: 50px;
    border-radius: 5px;
}
#situacao{
    margin-left: 3px;
    border-radius: 5px;
    width: 180px;
}
#categoria{
    border-radius: 5px;
}